---
import { SCORE_API_ENDPOINT  } from "astro:env/server";

await new Promise(resolve => setTimeout(resolve, 3000));
const res = await fetch(SCORE_API_ENDPOINT);
const scoreValue = await res.text()
---

<span class="text-xs" id="score">
    ⭐️ Puntuación: {scoreValue.trim()}/5
</span>
